.thanks{
  background-image: url('https://noncasus.github.io/mechismes/img/bless-meche.jpg');
}

 #elformo_honeypot,
 #email {
  display: none;
}

.form-wrapper{
  display: flex;
  justify-content: center;
}