.heading-wrapper{
  text-align: center;
  margin-top: 50px;
}
.form-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.pseudonym,
.comment{
  margin: 25px 0;
}
.pseudonym label,
.comment label{
  font-size: 1.5rem;
  font-weight: bold;
}
.pseudonym > label {
  display: block;
}
#email{
  width: 33%;
}
.form-wrapper textarea{
  height: 25vh;
  width: 100%;
  padding: 15px;
}
.input-wrapper{
  display: flex;
  flex-direction: row-reverse;
}

.gracias{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.thanks{
  background-image: url('https://noncasus.github.io/mechismes/img/bless-meche.jpg');
  height: 523px;
  width: 400px;
  display: inline-block;
  background-size: cover;
}
.thanks h1{
  margin-top: 20px;
}
.bless-meche{
  text-align: center;
}
.thanks-message{
  text-align: center;
  margin-top: 25px;
}